%div{class:"alert alert-info"}
	Подробная информация о филиалах в разработке
	%button{type:"button", class:"close", "data-dismiss"=>"alert"} &times;
.page-header
	%h3 Филиалы кафедры
.well
	%h4 ООО "Газпром трансгаз Москва"

.well
	%h4 ОАО "Оргэнергогаз"
	
.well
	%h4 ОНУТЦ ОАО "Газпром"

%h3 НОЦ "Энергосберегающие технологии и техническая диагностика"
.well
	%a{href: "http://www.gubkin.ru/departaments/university_departments/notz/index.php"} Сайт НОЦ	