%div{class:"alert alert-info"}
	Информация о консультациях текущего семестра будет дополнена в ближайшее время
	%button{type:"button", class:"close", "data-dismiss"=>"alert"} &times;
.page-header
	%h3 Расписание консультаций преподавателей на кафедре термодинамики и тепловых двигателей 
	%h4 Весенний семестр 2013-2014 учебного года
%table{class: 'table table-striped table-hover'}
	%thead 
		%tr
			%th Ф.И.О.
			%th День
			%th Время
			%th Аудитория
	%tbody
		%tr
			%td 
				%b Лопатин А.С., 
				%br
				профессор
			%td 
				среда
				%br
				пятница
			%td 
				14:20 - 18:00
			%td Ц-16
		%tr
			%td 
				%b Шотиди К.Х., 
				%br
				профессор
			%td 
				среда, в.н.
				%br
				четверг, к.н.
			%td 
				8:40 - 10:15
				%br
				14:20 - 18:00				
			%td П-07
		
		%tr
			%td 
				%b Калинин А.Ф., 
				%br
				профессор
			%td 
				понедельник, к.н. (ТН-12-1-6)
				%br
				вторник, в.н. (ТН-13-02)
			%td 
				16:30 - 18:00
				%br
				14:20 - 15:55
			%td П-08

		%tr
			%td 
				%b Шпотаковский М.М., 
				%br
				доцент
			%td 
				вторник, к.н.
				%br
				пятница, к.н.
			%td 
				16:05 - 17:40
				%br
				16:05 - 17:40
			%td 
				Ц-07
				%br
				П-07

		%tr
			%td 
				%b Назарьина А.М., 
				%br
				доцент
			%td 
				понедельник, к.н.
				%br
				среда, н.н.
			%td 
				8:40 - 10:00
				%br
				15:45 - 17:00
			%td 
				Ц-07	

		%tr
			%td 
				%b Микаэлян Э.А., 
				%br
				доцент
			%td 
				четверг, к.н.
				%br
				вторник, в.н.
			%td 
				14:20 - 15:55
				%br
				12:15 - 13:50
			%td Ц-07	

		%tr
			%td 
				%b Купцов С.М., 
				%br
				профессор
			%td четверг
			%td 16:00 - 18:00
			%td П-07

		%tr
			%td 
				%b Чурикова М.М, 
				%br
				доцент
			%td 
				понедельник, н.н.
				%br
				вторник, в.н.
			%td 
				14:20 - 15:55
				%br
				16:05 - 17:30
			%td Ц-07

		%tr
			%td 
				%b Шотиди Д.Х.
				%br
				ассистент
			%td 
				понедельник, к.н.
				%br
				пятница, к.н.
				%br
				суббота, к.н.
			%td 
				14:20 - 15:55
				%br
				14:20 - 15:55
				%br
				14:20 - 15:55
			%td Ц-07		
		