.page-header
	%h3 Расписание консультаций преподавателей на кафедре термодинамики и тепловых двигателей 
	%h4 Осенний семестр 2012-2013 учебного года
%table{class: 'table table-striped table-hover'}
	%thead 
		%tr
			%th Ф.И.О.
			%th День
			%th Время
			%th Аудитория
	%tbody
		%tr
			%td Шотиди К.Х., профессор
			%td 
				понедельник (в.н.) 
				%br
				понедельник (н.н.) 
				%br
				пятница (к.н.)
			%td 
				14:20 - 18:00
				%br
				16:00 - 18:00
				%br
				16:00 - 18:00
			%td П-06
		%tr
			%td Купцов С.М.
			%td Понедельник
			%td 15:00 - 17:00
			%td П-06
		%tr
			%td Каланин А.Ф.
			%td Пятница
			%td 16:00 - 17:00
			%td Ц-07
		%tr
			%td Микаэлян Э.А.
			%td Вторник
			%td 14:20 - 16:00
			%td Ц-07
				