%div{class:"alert alert-info"}
	Информация о консультациях текущего семестра будет дополнена в ближайшее время
	%button{type:"button", class:"close", "data-dismiss"=>"alert"} &times;
.page-header
	%h3 Расписание консультаций преподавателей на кафедре термодинамики и тепловых двигателей 
	%h4 Осенний семестр 2013-2014 учебного года
%table{class: 'table table-striped table-hover'}
	%thead 
		%tr
			%th Ф.И.О.
			%th День
			%th Время
			%th Аудитория
	%tbody
		%tr
			%td 
				%b Лопатин А.С., 
				%br
				профессор
			%td 
				понедельник
			%td 
				14:00 - 16:00
			%td Ц-16
		%tr
			%td 
				%b Шотиди К.Х., 
				%br
				профессор
			%td 
				понедельник (в.н.) 
				%br
				понедельник (н.н.) 
				%br
				пятница (к.н.)
			%td 
				14:20 - 18:00
				%br
				16:00 - 18:00
				%br
				16:00 - 18:00
			%td П-06
		%tr
			%td 
				%b Купцов С.М., 
				%br
				профессор
			%td Понедельник
			%td 15:00 - 17:00
			%td П-06
		%tr
			%td 
				%b Калинин А.Ф., 
				%br
				профессор
			%td Пятница
			%td 16:00 - 17:00
			%td Ц-07
		%tr
			%td 
				%b Микаэлян Э.А., 
				%br
				доцент
			%td Вторник
			%td 14:20 - 16:00
			%td Ц-07
		%tr
			%td 
				%b Васильев А.В., 
				%br
				ассистент
			%td Пятница
			%td 16:00 - 18:00
			%td 1401
				