.page-header
	%h3 Расписание консультаций преподавателей на кафедре термодинамики и тепловых двигателей 
	%h4 Весенний семестр 2014-2015 учебного года
%table{class: 'table table-striped table-hover'}
	%thead 
		%tr
			%th Ф.И.О.
			%th День
			%th Время
			%th Аудитория
	%tbody
		%tr
			%td 
				%b Лопатин А.С., 
				%br
				профессор
			%td 
				понедельник, к.н.
				%br
				среда, к.н.
			%td 
				14:00 - 15:00
				%br
				14:00 - 15:00
			%td 
				Ц-01/6
				%br
				Ц-01/6
		%tr
			%td 
				%b Шотиди К.Х., 
				%br
				профессор
			%td 
				понедельник, к.н.
				%br
				пятница, к.н.
			%td 
				16:00 - 18:00
				%br
				16:00 - 18:00
			%td 
				П-07; П-09
				%br
				П-07; П-09
		
		%tr
			%td 
				%b Калинин А.Ф., 
				%br
				профессор
			%td 
				понедельник, к.н. 
				%br
				вторник, к.н.
				%br
				пятница, н.н.
			%td 
				8:40 - 10:15
				%br
				10:25 - 12:00
				%br
				8:40 - 10:15
			%td 
				П-09
				%br
				П-08
				%br
				П-09

		%tr
			%td 
				%b Купцов С.М., 
				%br
				профессор
			%td 
				понедельник, в.н.
				%br
				понедельник, н.н.
			%td 
				16:00 - 18:00
				%br
				14:30 - 16:30
			%td 
				П-07; П-09
				%br
				П-07; П-09

		%tr
			%td 
				%b Бессель В.В., 
				%br
				профессор
			%td 
				пятница, к.н.
			%td 
				16:00 - 18:00
			%td 
				П-07; П-09

		%tr
			%td 
				%b Шпотаковский М.М., 
				%br
				доцент
			%td 
				понедельник, в.н.
				%br
				среда, к.н.
			%td 
				16:05 - 17:40
				%br
				16:05 - 17:40
			%td 
				П-07; П-09
				%br
				П-07; П-09

		%tr
			%td 
				%b Микаэлян Э.А., 
				%br
				доцент
			%td 
				вторник, в.н.
			%td 
				10:25 - 12:00
			%td П-07; П-09

		%tr
			%td 
				%b Назарьина А.М., 
				%br
				доцент
			%td 
				среда, к.н.
			%td 
				8:40 - 9:30
			%td 
				П-07

		%tr
			%td 
				%b Мингалеева Р.Д.
				%br
				ассистент
			%td 
				четверг, н.н. (для гр. ТА-11-06)
				%br
				суббота, в.н.
			%td 
				8:40 - 10:15
				%br
				12:15 - 14:00
			%td 
				П-07
				%br
				П-09

		%tr
			%td 
				%b Мерициди И.И.
				%br
				ассистент
			%td 
				суббота, в.н.	
			%td 
				12:15 - 14:00
			%td П-09
		