.page-header
	.well
		%h4 Телефоны
		%p 8-499-233-93-08 (Ц-07)
		%p 8-499-233-95-81 (П-06)
	.well
		%h4 Электронная почта
		%p thermo@gubkin.ru
	.well
		%h4 Режим работы
		%p С понедельника по пятницу, с 9:00 до 17:00