.page-header
	%h3 Контактная информация
.well
	%h4 Телефоны
	%p 8-499-233-93-08 (Ц-07)
	%p 8-499-233-95-81 (П-06)
.well
	%h4 Электронная почта
	%p thermo@gubkin.ru
.well
	%h4 Режим работы 
	%p С понедельника по пятницу, с 9:00 до 17:00
.well
	%h4 Филиалы кафедры
	%ul
		%li ООО "Газпром трансгаз Москва" (руководитель Ю.Н. Суховерхов)
		%li 
			ОАО "Оргэнергогаз" (руководитель Филатов А.А.)
			%ul
				%li Халыев Н.Х. - заместитель руководителя филиала
				%li Ангалев А.М.
				%li Велиюллин И.И.
				%li Соколинский Л.И.
				%li Егоров С.И.
		%li ОНУТЦ ОАО "Газпром"
.well
	%h4 НОЦ "Энергосберегающие технологии и техническая диагностика"
	%a{href: "http://www.gubkin.ru/departaments/university_departments/notz/index.php", target:"_blank"} Сайт НОЦ