.page-header
	%h2 Состав кафедры
.row
	.span6
		.well
			%h4 Лопатин Алексей Сергеевич
			.row-fluid
				.span6
					%a{href:"lopatin.html"}
						%img{src:"img/bw_Lopatin.jpg"}
				.span6
					%p
						%strong Заведующий кафедрой
						%br
						профессор, д.т.н.
						%address
							%a{href:'mailto:#'} lopatin@gubkin.ru	
	.span6
		.well
			%h4 Шотиди Константин Харлампиевич
			.row-fluid
				.span6
					%img{src:"img/bw_Shotidi.jpg"}
				.span6
					%p
						%strong Заместитель заведующего кафедрой
						%br
						профессор, к.т.н.
						%address
							%a{href:'mailto:#'} shotidi@gubkin.ru
