.page-header
	%h3 Новости кафедры за 2012 год
.row-fluid
	.well
		%h4 11.07.2012 &ndash; 12.07.2012. Переговоры в ООО "Газпром трансгаз Томск" 
		.row-fluid
			.span7
				%img{src:"img/11-12 July Tomsk.jpg"}
			.span5
				%p{align: 'justify'} 
					Проф. Лопатин А.С. и проф. Королёнок А.М. посетили Томск. В ходе поездки был проведён ряд переговоров:
					%ul
						%li в ООО "Газпром трансгаз Томск"
						%li в учебном центре предприятия ООО "Газпром трансгаз Томск" 
						%li в национальном исследовательском Томском университете
.row-fluid
	.well
		%h4 18.06.2012 &ndash; 22.06.2012. Международная конференция по противокоррозионной защите в Норвегии
		.row-fluid
			.span5
				%p{align: 'justify'}
					Заведующий кафедрой профессор Лопатин А.С. принял участие в международной конференции по противокоррозионной защите в г. Саннефьерд в Норвегии.
			.span7
				%img{src:"img/18-22 June Norway 2012.jpg"}

.row-fluid
	.well
		%h4 08.06.2012. Первый выпуск по совместной магистерской программе РГУ нефти и газа имени И.М.Губкина и Шведского королевского технологического университета
		.row-fluid
			.span7
				%img{src:"img/Sweden students.jpg"}
			.span5
				%p{align: 'justify'} 
					В научно-образовательном центре "Энергосберегающие технологии и техническая диагностика" состоялась защита магистерских диссертаций студентов, обучавшихся по совместной международной программе университета и Шведского королевского технологического университета "Энергосберегающие технологии для газотранспортных систем". Государственная аттестационная комиссия, созданная приказом ректора из представителей двух университетов, отметила хороший уровень представленных работ, рекомендовав их к внедрению в отрасли.
				%p{align: 'justify'}
					Магистранты обучались с Стокгольме (первый год обучения) и в Москве (второй год обучения). Лекционные занятия для них проводились не только профессорами и преподавателями обоих учебных заведений, но и учеными и специалистами отрасли, что позволило связать глубокую теоретическую подготовку с практическим опытом работы и существенно обогатить программу.
		.row-fluid			
			.span5
				%p{align: 'justify'} 
					Первый год обучения был посвящён изучению широкого круга вопросов, связанных с энергетикой, возобновляемыми источниками энергии, энергосберегающими технологиями, энергетическим менеджментом.
				%p{align: 'justify'}
					Второй год направлен, прежде всего, на углубленное изучение теоретических и практических вопросов применения эрнергосберегающих технологий и технической диагностики на различных стадиях жизненного цикла газотранспортных систем.
				%p{align: 'justify'}
					По завершении совместной Программы её участики получают два диплома.
				%p{align: 'justify'} 
					Руководители программы:
					%ul
						%li от Королевского технологического университета: проф. Кучеров В.Г.
						%li от РГУ нефти и газа имени И.М.Губкина: проф. Лопатин А.С.
			.span7
				%img{src:"img/Sweden students 2.jpg"}					