.page-header
	%h3 Фотографии до 1989 года
%div{class:"alert alert-info"}
	Возможен просмотр в полноэкранном режиме. Листать фотографии можно с клавиатуры.
	%button{type:"button", class:"close", "data-dismiss"=>"alert"} &times;
/ 1. Link to jQuery
%script{src: "jquery/jquery.js"}
/ fotorama.css & fotorama.js, 13 KB, 28 KB
%link{href: "fotorama/fotorama.css", rel:"stylesheet"}
%script{src: "fotorama/fotorama.js"}

/ 2. Add images to <div class="fotorama"></div>
.fotorama{"data-width"=>"800", align:"center", "data-allowfullscreen" => "true", "data-keyboard"=>"true", "data-loop"=>"true", "data-fit"=>"contain"}
	%a{href:"img/history/1970-1989/1.jpg", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/2.jpg", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/3.jpg", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/5.jpg", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/6.jpg", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/7.jpg", "data-caption"=>"1970-1989"}

/ 3. Enjoy
