.page-header
	%h3 Фотографии до 1989 года
%div{class:"alert alert-info"}
	Возможен просмотр в полноэкранном режиме. Листать фотографии можно с клавиатуры.
	%button{type:"button", class:"close", "data-dismiss"=>"alert"} &times;
/ 1. Link to jQuery
%script{src: "http://code.jquery.com/jquery-1.10.1.min.js"}
/ fotorama.css & fotorama.js, 13 KB, 28 KB
%link{href: "http://fotorama.s3.amazonaws.com/4.1.16/fotorama.css", rel:"stylesheet"}
%script{src: "http://fotorama.s3.amazonaws.com/4.1.16/fotorama.js"}

/ 2. Add images to <div class="fotorama"></div>
.fotorama{"data-width"=>"800", align:"center", "data-allow-full-screen" => "true", "data-keyboard"=>"true", "data-loop"=>"true"}
	 
	%a{href:"img/history/-1970/1.bmp", "data-caption"=>"..-1970"}
	%a{href:"img/history/-1970/2.jpg", "data-caption"=>"..-1970"}
	%a{href:"img/history/-1970/3.jpg", "data-caption"=>"..-1970"}
	%a{href:"img/history/-1970/4 A.K. Troshin, aspirant 1946.jpg", "data-caption"=>"А.К. Трошин, аспирант 1946г."}
	%a{href:"img/history/-1970/5 Belokon 1939.jpg", "data-caption"=>"Н.И. Белокноь, 1939г."}
	%a{href:"img/history/-1970/6 Belokon and dvigatel.jpg", "data-caption"=>"Н.И. Белоконь и двигатель"}
	%a{href:"img/history/-1970/7 Belokon and students 1948.jpg", "data-caption"=>"Н.И. Белоконь и студенты, 1948г."}
	%a{href:"img/history/-1970/8 Belokon on a lection.jpg", "data-caption"=>"Н.И. Белоконь на лекции"}
	%a{href:"img/history/-1970/9 Belokon at Seminariya 1916.jpg", "data-caption"=>"Н.И. Белоконь в семинарии, 1916г."}
	%a{href:"img/history/-1970/10 Belokon 1934.jpg", "data-caption"=>"Н.И. Белокноь, 1934г."}
	%a{href:"img/history/-1970/11 Belokon 1948.jpg", "data-caption"=>"Н.И. Белоконь, 1948г."}
	%a{href:"img/history/-1970/12 Belokon and DVS.jpg", "data-caption"=>"Н.И. Белоконь и ДВС"}
	%a{href:"img/history/-1970/13 IP Mogilnitskuy and a student.jpg", "data-caption"=>"И.П. Могильницкий и студент"}
	%a{href:"img/history/-1970/14 left to right BA Romanov, AA Petrosiants, AG Serdiy.jpg", "data-caption"=>"Слева направо, Б.А. Романов, А.А. Петросянц, А.Г. Сердий"}
	%a{href:"img/history/-1970/15 Left to right VM Kasiyanov, NI Chernozhukov, AG Serdiy, NI Belokon 1950.jpg", "data-caption"=>"Слева направо В.М. Касьянов, Н.И Черножуков, А.Г. Сердий"}
	%a{href:"img/history/-1970/16 Subbotnik.jpg", "data-caption"=>"Субботник"}

/ 3. Enjoy
