.page-header
	%h3 Фотографии
%div{class:"alert alert-info"}
	Возможен просмотр фотографий в полноэкранном режиме
	%button{type:"button", class:"close", "data-dismiss"=>"alert"} &times;
/ 1. Link to jQuery
%script{src: "jquery/jquery.js"}
/ fotorama.css & fotorama.js, 13 KB, 28 KB
%link{href: "fotorama/fotorama.css", rel:"stylesheet"}
%script{src: "fotorama/fotorama.js"}

/ 2. Add images to <div class="fotorama"></div>
.fotorama{"data-min-width"=>"500", align:"center", "data-allowfullscreen" => "true", "data-keyboard"=>"true"}
	 
	%a{href:"img/history/-1970/1.bmp", "data-caption"=>"..-1970"}
	%a{href:"img/history/-1970/2.jpg", "data-caption"=>"..-1970"}
	%a{href:"img/history/-1970/3.jpg", "data-caption"=>"..-1970"}

	%a{href:"img/history/1970-1989/1.jpg", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/2.jpg", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/3.jpg", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/5.jpg", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/6.png", "data-caption"=>"1970-1989"}
	%a{href:"img/history/1970-1989/7.png", "data-caption"=>"1970-1989"}

	%a{href:"img/history/1990-2009/1.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/2.JPG", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/3.JPG", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/4.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/5.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/6.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/7.JPG", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/8.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/9.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/10.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/11.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/12.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/13.jpg", "data-caption"=>"1990-2009"}
	%a{href:"img/history/1990-2009/14.jpg", "data-caption"=>"1990-2009"}

	%a{href:"img/history/2010-/1.jpg", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/2.jpg", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/3.JPG", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/4.JPG", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/5.jpg", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/6.jpg", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/7.JPG", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/8.jpg", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/9.JPG", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/10.JPG", "data-caption"=>"2010-.."}
	%a{href:"img/history/2010-/11.JPG", "data-caption"=>"2010-.."}
/ 3. Enjoy
