.page-header
	%h3 Правила рейтингого контроля по читаемым кафедрой дисциплинам
	%h4 Факультет проектирования, сооружения и эксплуатации систем трубопроводного транспорта
	.well
		%table{class: 'table table-hover'}
			%thead 
				%tr
					%th Курс
					%th Форма контроля
			%tbody
				%tr
					%td Диагностика оборудования КС и ЛЧ МГ" для студентов 5-го курса специализации "Энергосберегающие технологии при транспорте газа
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20pipe%201.php"}
							Курсовой проект
				%tr
					%td Газотурбинные установки
					%td
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20pipe%202.php"}
							Лабораторный практикум
				%tr
					%td Ресурсосберегающие технологии транспорта газа" для магистров 2-го курса , проходящих обучение по программам: "Энергосберегающие технологии для газотранспортных систем" и "Техническая диагностика газотранспортных систем
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20pipe%203.php"}
							Курсовая работа
				%tr
					%td Ресурсосберегающие технологии транспорта газа" для магистров 2-го курса, проходящих обучение по программе "Техническая диагностика газотранспортных систем"
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20pipe%204.php"}
							Зачет
				%tr
					%td Ресурсосберегающие технологии транспорта газа" для магистров 2-го курса, проходящих обучение по программе "Энергосберегающие технологии для газотранспортных систем"
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20pipe%205.php"}
							Экзамен
				%tr
					%td Ресурсосберегающие технологии транспорта газа" для студентов 5-го курса специализации "Энергосберегающие технологии при транспорте газа"
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20pipe%206.php"}
							Зачет
				%tr
					%td Ресурсосберегающие технологии транспорта газа" для студентов 5-го курса специализации "Энергосберегающие технологии при транспорте газа". 
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20pipe%207.php"}
							Курсовой проект
				%tr
					%td Теплоэнергетика транспорта газа" для студентов 4-го курса специализации «Энергосберегающие технологии при транспорте газа» факультета ПС и ЭСТТ
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20pipe%208.php"}
							Зачет
				%tr
					%td Учебная научно-исследовательская работа студентов (УНИРС)" для студентов 4-го курса специализации "Энергосберегающие технологии при транспорте газа
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20pipe%209.php"}
							Курсовая работа
	.well
		%h4 Факультет химической технологии и экологии
		%table{class: 'table table-hover'}
			%thead 
				%tr
					%th Курс
					%th Форма контроля
			%tbody
				%tr
					%td Техническая термодинамика и теплотехника
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20chemistry%201.php"}
							Курсовая работа
				%tr
					%td Техническая термодинамика и теплотехника
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20chemistry%202.php"}
							Лабораторный практикум, индивидуальная домашняя работа, итоговый тест

	.well
		%h4 Факультет инженерной механики
		%table{class: 'table table-hover'}
			%thead 
				%tr
					%th Курс
					%th Форма контроля
			%tbody
				%tr
					%td Теплотехника
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20mechanics%201.php"}
							Курсовая работа
				%tr
					%td "Термодинамика" для студентов III курса
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20mechanics%202.php"}
							Лабораторный практикум, экзамен
				%tr
					%td "Термодинамика" для студентов III курса групп МП и МБ
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20mechanics%203.php"}
							Лабораторный практикум, экзамен
				%tr
					%td "Теплотехника" для студентов МО-09-9,10 и ММ-09-12.
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20mechanics%204.php"}
							Курсовая работа
	.well
		%h4 Вечерний факультет
		%table{class: 'table table-hover'}
			%thead 
				%tr
					%th Курс
					%th Форма контроля
			%tbody
				%tr
					%td Теплотехника
					%td 
						%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/Rate%20evening%201.php"}
							Лабораторный практикум, экзамен

