.page-header
	%h3 Расписание нагрузки на осенний семестр 2012-2013 года
	%h4 Осенний семестр 2012-2013 учебного года
	%table{class: 'table table-striped table-hover'}
		%thead 
			%tr
				%th Ф.И.О., должность
				%th Понедельник
				%th Вторник
				%th Среда
				%th Четверг
				%th Пятница
				%th Суббота
		%tbody
			%tr
				%td 
					<b>Лопатин Алексей Сергеевич</b>, 
					%br
					профессор
				%td 
					Работа с магистрами
				%td 
					Работа с аспирантами
				%td 
					ТА-08-8, а.П-09
					%br
					10:25 - 12:00, в.н.
					%br
					%br
					ТА-08-8, а.П-09
					%br
					12:15 - 13:50, к.н.
				%td 
					М-02, а.Ц-14
					%br
					10:25 - 12:00, к.н.
					%br
					%br
					М-02, а.Ц-14
					%br
					12:15 - 13:50, в.н.
					%br
					%br
					М-02ш, а.Ц-16
					%br
					14:20-15:55, к.н
				%td
					Учебно-методическая работа
				%td
					Научная работа
			
			%tr
				%td 
					<b>Шотиди Константин Харлампиевич</b>,
					%br
					профессор
				%td 
					Работа в деканате
				%td 
					Учебно-метоиическая работа
				%td 
					ТА-12-5, а.Ц-15
					%br
					10:25 - 12:00, н.н.
					%br
					%br
					ХТ-11-4, а.Ц-14
					%br
					14:20 - 15:55, в.н.
					%br
					%br
					ХТ-11-5, а.Ц-14
					%br
					14:20 - 15:55, н.н.
				%td 
					ХТ-10-1-5, а.352
					%br
					10:25 - 12:00, к.н.
					%br
					%br
					ХТ-11-1, а.Ц-14
					%br
					14:120 - 15:55, в.н.					
				%td
					Работа в деканате
				%td
					Научная работа	

			%tr
				%td 
					<b>Калинин Александр Фёдорович</b>,
					%br
					профессор
				%td 
					Работа с магистрами
				%td 
					Работа с аспирантами
				%td 
					ТА-08-8, а.П-09
					%br
					10:25 - 12:00, в.н.
					%br
					%br
					ТА-08-8, а.П-09
					%br
					12:15 - 13:50, к.н.
				%td 
					М-02, а.Ц-14
					%br
					10:25 - 12:00, к.н.
					%br
					%br
					М-02, а.Ц-14
					%br
					12:15 - 13:50, в.н.
					%br
					%br
					М-02ш, а.Ц-16
					%br
					14:20-15:55, к.н
				%td
					Учебно-методическая работа
				%td
					Научная работа

.well
	.h4 
		Руководство курсовыми проектами
		%ul
			%li Лопатин А.С. - ТА-08-8
			%li Калинин А.Ф. - ТА-09-5, ТА-08-8
			%li Назарьина А.М. - РБ-10-1, РГ-10-5
			%li Шотиди К.Х. - НД-10-3
			