%div{class:"alert alert-info"}
	Расписание для каждой группы можно уточнить на <a href="https://lk.gubkin.ru/schedule/">сайте университета</a>
	%button{type:"button", class:"close", "data-dismiss"=>"alert"} &times;
.page-header
	%h3 Расписание нагрузки на осенний семестр 2015-2016 года
	%a{href: "http://www.gubkin.ru/faculty/pipeline_network_design/chairs_and_departments/thermodynamics_and_thermal_engine/new/documents/schedule15-16.doc"}
		Расписание нагрузки преподавателей в формате .doc
.well
	.h4 
		Руководство курсовыми проектами
		%ul
			%li Шотиди К.Х. - ТВ-13-7,8
			%li Купцов С.М. - МО-12-9,10, МА-12-7
			%li Шпотаковский М.М. - ММ-12-12
			%li Мерициди И.И. - ТП-13-4,6
			%li Калинин А.Ф. - ТНМ-14-2
			%li Мингалеева Р.Д. - ТП-13-3,5
			%li Попова Т.В. - ТП-13-1,2
