%div{class:"alert alert-info"}
	Расписание для каждой группы можно уточнить на <a href="https://lk.gubkin.ru/schedule/">сайте университета</a>
	%button{type:"button", class:"close", "data-dismiss"=>"alert"} &times;
.page-header
	%h3 Расписание нагрузки на весенний семестр 2013-2014 года
%table{class: 'table table-striped table-hover'}
	%thead 
		%tr
			%th Ф.И.О., должность
			%th Понедельник
			%th Вторник
			%th Среда
			%th Четверг
			%th Пятница
			%th Суббота
	%tbody
		%tr
			%td 
				<b>Лопатин Алексей Сергеевич</b>, 
				%br				
				зав. кафр., профессор
			%td				
				ТА-10-5, а. П-09, 10:25-12:00 к.н.
				%br
				%br
				ТА-10-5, а. П-09, 14:20-15:55 к.н.
			%td 
				Работа с аспирантами
			%td 
				Работа с магистрами
			%td 
				ТА-11-6, а. П-09, 14:20-17:40, к.н.
			%td
				Учебно-методическая работа
			%td
				Научная работа
		
		%tr
			%td 
				<b>Шотиди Константин Харлампиевич</b>,
				%br				
				профессор, зам. зав. каф.
			%td 
				РН-12-3, а.503, 10:25-12:00, н.н.
				%br
				%br
				РН-12-4, а.503, 12:15-13:50, н.н.
			%td 
				Учебно-методическая работа
			%td 
				ХТ-13-1-7, а.725, 14:20-15:55, к.н.
				%br
				%br
				РН-12-6, а.251, 16:05-17:40, н.н.
			%td 
				РН-12-1-8, а.711, 12:15-13:50, в.н.
				%br
				%br
				РН-12-5, а.706, 14:20-15:55, в.н.
			%td
				Работа с аспирантами
			%td
				РН-12-1-8, а.711, 8:40-10:15, в.н.

		%tr
			%td 
				<b>Калинин Александр Фёдорович</b>,
				%br
				профессор
			%td 
				Учебно-методическая работа				
			%td 
				ТН-11-1, а.П-09, 10:25-12:00, в.н.
				%br
				%br
				Учебно-методическая работа
			%td 
				Работа с магистрами
			%td 
				ТП-11-3, а.П-09, 10:25-12:00, в.н.
				%br
				%br
				ТА-11-6, а.П-09, 10:25-12:00, н.н.
				%br
				%br
				ТА-10-5, а.252, 14:20-15:55, в.н.
				%br
				%br
				ТММ-13-2, а.252, 14:20-15:55, в.н.
			%td
				ТН-11-1-3-6, а.608, 10:25-12:00, к.н.
				%br
				%br
				ТА-10-5, а.П-09, 12:15-13:50, к.н.
				%br
				%br
				ТП-11-3, а.П-09, 14:20-15:55, в.н.
			%td
				Научная работа
		%tr
			%td 
				<b>Купцов Сергей Михайлович</b>,
				%br
				профессор
			%td 
				МП-12-6-12, а.343, 10:25-12:00, в.н.
			%td 
				МА-12-7, а.504, 10:25-12:00, кн.
				%br
				%br
				МП-11-6, а.351, 12:15-13:50, к.н.
				%br
				%br
				МО-12-10, а.504, 14:20-15:55, к.н.
			%td 
				Работа с магистрами
			%td
				Учебно-методическая работа
			%td
				МО-12-9, а.1607, 10:25-12:00, к.н.
				%br
				%br
				Учебно-методическая работа
			%td
				Научная работа

		%tr
			%td 
				<b>Шпотаковский Михаил Михайлович</b>,
				%br
				доцент
			%td 
				Учебно-методическая работа
			%td 
				АЭ-11-3, а.П-09, 14:20-15:55, к.н.
				%br
				%br
				АЭ-11-3, а.П-09, 16:05-17:40, н.н.
			%td 
				ММ-12-12, а.607, 8:40-10:15, к.н.
			%td 
				ВНД-12-1, а.П-09, 18:30-19:55, в.н.
				%br
				%br
				ВНД-11-1, а.П-09, 20:05-21:30, к.н.
			%td
				Научная работа
			%td
				РГ-12-7, а.503, 8:40-10:15, н.н.
				%br
				%br
				РБ-12-1, а.503, 10:25-12:00, н.н.

		%tr
			%td 
				<b>Чурикова Мария Михайловна</b>,
				%br
				доцент
			%td 
				Учебно-методическая работа
			%td 
				МБ-12-8, а.П-07, 12:15-13:50, н.н.
			%td 
				Работа в деканате
			%td 
				РГ-12-8, а.816, 12:15-13:50, н.н.
			%td
				МБ-12-8, а.П-09, 8:40-10:15, к.н.
				%br
				%br
				МД-12-11, а.П-09, 10:25-12:00, к.н.				
			%td
				Научная работа

		%tr
			%td 
				<b>Назарьина Александра Михайловна</b>,
				%br
				доцент
			%td 
				ХТ-13-4, а.П-07, 8:40-10:15, н.н.
				%br
				%br
				МП-12-6, а.П-07, 12:15-13:50, н.н.
			%td 
				ХВ-13-7, а.П-07, 8:40-10:15, в.н.
				%br
				%br
				МА-12-7, а.П-07, 8:40-10:15, н.н.
				%br
				%br
				ХТ-13-2, а.П-07, 10:25-12:00, в.н.
			%td 
				Учебно-методическая работа
			%td 
				ХТ-13-1, а.П-07, 10:25-12:00, н.н.
			%td
				МО-12-10, а.П-07, 8:40-10:15, в.н.
			%td


		%tr
			%td 
				<b>Мингалеева Рената Дмитриевна</b>,
				%br
				ассистент
			%td 
				ХТ-13-4, а.П-07, 8:40-10:15, н.н.
				%br
				%br
				ХТ-13-3, а.П-07, 10:25-12:00, н.н.
				%br
				%br
				ТА-14-5, а.П-07, 10:25-12:00, в.н.
			%td 
				ХВ-13-7, а.П-07, 8:40-10:15, в.н.
				%br
				%br				
				ХТ-13-2, а.521, 10:25-12:00, в.н.
			%td 
				ХТ-13-5, а.П-07, 12:15-13:50, н.н.
			%td 
				ХТ-13-1, а.П-07, 10:25-12:00, н.н.
			%td
				Научная работа
			%td
				Учебно-методическая работа

		%tr
			%td 
				<b>Мерициди Ираклис Ираклиевич</b>,
				%br
				ассистент
			%td 
				ХТ-13-3, а.П-07, 10:25-12:00, н.н.
				%br
				%br
				МП-12-6, а.П-07, 12:15-13:50, н.н.
			%td 
				МА-12-7, а.П-07, 8:40-10:15, н.н.
				%br
				%br
				МД-12-11, а.П-07, 10:25-12:00, н.н.
				%br
				%br
				МБ-12-8, а.П-07, 12:15-13:50, н.н.
			%td 
				Научная работа
			%td 
				Учебно-методическая работа
			%td
				ММ-12-12, а.П-07, 10:25-12:00, н.н.
			%td
				РБ-12-2, а.501, 10:25-12:00, н.н.


		%tr
			%td 
				<b>Микаэлян Эдуард Амаякович</b>,
				%br
				доцент
			%td 
				
			%td 
				Учебно-методическая работа
			%td 
				ТА-09-5, П-09, 10:25-12:00, к.н.
				%br
				%br
				ТА-09-5, П-09, 12:15-13:50, к.н.
				%br
				%br
				ТА-09-5, П-09, 14:20-15:55, в.н.
			%td 
				Учебно-методическая работа
			%td
				
			%td
				Научная работа				
		
		%tr
			%td 
				<b>Антипов Борис Николаевич</b>,
				%br
				профессор
			%td 
				ТП-11-2-6, а.608, 12:15-13:50, к.н.
				%br
				%br
				ТП-11-2-6, а.619, 14:20-15:55, к.н.
			%td 
				
			%td 
				
			%td 

			%td
				
			%td

		%tr
			%td 
				<b>Бессель Валерий Владимирович</b>,
				%br
				профессор
			%td 
				
			%td 
				ВНМ-13-1, а.П-07, 18:30-19:55, к.н.				
			%td 
				
			%td 
				
			%td
				
			%td


		%tr
			%td 
				<b>Воронцов Михаил Александрович</b>
				%br				
			%td 
				
			%td 
				
			%td 
				
			%td 
				ТНМ-13-1(17), а.1507, 20:05-21:30, н.н.
			%td
				ТНМ-13-1(17), а.1525, 18:30-19:55, в.н.
				%br
				%br
				ТНМ-13-1(17), а.1525, 20:05-21:30, в.н.			
			%td

		%tr
			%td 
				<b>Беляев Алексей Андреевич</b>
			%td 
				
			%td 
				
			%td 
				
			%td 
				
			%td
				
			%td
				МО-12-9, а.П-07, 12:15-13:50, в.н.

.well
	.h4 
		Руководство курсовыми проектами
		%ul
			%li Лопатин А.С. - ТА-10-8
			%li Калинин А.Ф. - ТА-10-5, ТНМ-12-2
			%li Назарьина А.М. - ТН-12-1
			%li Шотиди К.Х. - ТС-12-4,5
			%li Купцов С.М. - МО-11-9,10, МА-11-7
			%li Микаэлян Э.А. - ТА-08-8
			%li Мингалеева Р.Д. - ТА-12-6
			%li Чурикова М.М. - ТП-12-2,3
			%li Шпотаковский М.М. - ММ-11-12
