.page-header
	%h3 Научно-педагогическая школа
.well
	%p{align: 'justify'}
		Основатель научно-педагогической школы - доктор технических наук, профессор, заслуженный деятель науки и техники РСФСР, генерал тяги Министерства путей сообщения Николай Иович Белоконь - создатель нового направления - энергетика трубопроводного транспорта. Главнейшими направлениями научно-педагогической школы проф. Н.И.Белоконя являлись работы по термодинамике, теплопередаче и их приложениям к энергетике нефтяной и газовой промышленности.
	%p{align: 'justify'}
		Главнейшими направлениями научно-педагогической школы проф. Н.И.Белоконя являлись работы по термодинамике, теплопередаче и их приложениям к энергетике нефтяной и газовой промышленности. Были предложены новые методы построения основных принципов термодинамики, дан новый состав ее постулатов. Дана научная классификация уравнений состояния реальных газов. Предложено термодинамическое уравнение состояния для высоких давлений. Теория теплообмена в теплообменных аппаратах рассмотрена как проблема теплопередачи при переменных температурах на базе введения в расчеты индекса противоточности.
	%p{align: 'justify'}
		На кафедре выполнены пионерские исследования по оценке перспектив применения газотурбинных установок для трубопроводного транспорта газа, заложены теоретические основы составления нормального ряда мощностей и схем ГТУ, обеспечивающих перекачку необходимого количества газа по трубопроводам.
	%p{align: 'justify'}
		Кафедра принимала непосредственное участие в разработке и апробации принципиально новой технологии транспорта природных газов по магистральным газопроводам с охлаждением их после компримирования на КС в аппаратах воздушного охлаждения (АВО) с разработкой оптимальных схем и режимов работы АВО.
	%p{align: 'justify'}
		На кафедре проводились комплексные теоретические и экспериментальные исследования по определению теплофизических свойств горных пород при различной газо-нефте-водонасыщенности пластов, результаты которых были направлены на развитие тепловых методов воздействия на нефтяные пласты с целью повышения их нефтеотдачи.
	%p{align: 'justify'}
		Учеными кафедры развита термодинамическая классификация уравнений состояния реальных газов с анализом возможности их применения при энерготехнологических расчетах газопроводов, научно обоснован переход на принципиально новую энергосберегающую технологию транспорта газа с учетом фактического технического состояния оборудования, разработаны система термодинамического обеспечения энерготехнологических задач транспорта газа, комплекс методов диагностики оборудования компрессорных станций.
	%p{align: 'justify'}
		Результаты работы кафедры внедрены в газотранспортных объединениях и предприятиях
		%ul
			%li "Львовтрансгаз"
			%li "Мострансгаз"
			%li "Средазтрансгаз"
			%li "Сургутгазпром"
			%li "Тюментрансгаз"
			%li "Уралтрансгаз"
			%li ВНИИГаз
			%li ВНИИЭГазпром
			%li НИПИАСУтрансгаз
			%li "Тюменгазпром"
			%li ДАО "Оргэнергогаз"
			%li Ярегском нефтешахтном управлении объединения "Коминефть"
			%li "ВНИИнефти", 
		использованы при разработке целого ряда отраслевых инструкций и методик.		
	%p{align: 'justify'}
		По результатам исследований на кафедре защищено 11 докторских и 60 кандидатских диссертаций. 