.page-header
	%h2 Положение "О кафедре"
	.well
		%h4 1. Общие положения
		%p{align: 'justify'}

			<b>1.1.</b> Настоящее положение определяет статус кафедры федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Российский государственный университет нефти и газа имени И. М. Губкина» (далее в тексте – Университет), её основные задачи, функции, структуру, принципы управления, порядок руководства, а также содержание и формы взаимоотношений с иными подразделениями и службами Университета.
		%p{align: 'justify'}
			<b>1.2.</b> Настоящее положение о кафедре разработано в соответствии с действующим в Российской Федерации на момент его утверждения законодательством о высшем и послевузовском профессиональном образовании и иными нормативными актами, Уставом федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Российский государственный университет нефти и газа имени И.М. Губкина» (далее в тексте – Устав Университета) (в действующей редакции), а также положениями и инструкциями СМК Университета.
		%p{align: 'justify'}
			Настоящее положение о кафедре разработано на основе Типового положение о кафедре, утвержденного ректором федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Российский государственный университет нефти и газа имени И. М. Губкина» в 2011 году».
		%p{align: 'justify'}			
			<b>1.3.</b> Наименование и место нахождения кафедры:
			%ul
				%li
					<b>Полное наименование кафедры</b>: термодинамика и тепловые двигатели
				%li 
					<b>Сокращенное наименование кафедры</b>: ТТД
				%li 
					<b>Полное наименование кафедры на английском языке</b>:thermodynamics and heat engines
				%li
					<b>Сокращенное наименование кафедры на английском языке</b>: THERHEATENG
		%p{align: 'justify'}
			<b>1.4.</b> Кафедра, в составе факультета проектирования, сооружения и эксплуатации систем трубопроводного транспорта является структурным подразделением университета.
		%p{align: 'justify'}
			Кафедра действует на основании положения, утверждаемого Ученым советом университета, и в соответствии с
			%ul
				%li	нормативными правовыми актами органов государственной ласти, 
				%li Уставом Университета, 
				%li положением о факультете, 
				%li Постановлениями Ученого совета Университета, 
				%li приказами ректора Университета (далее – Ректор), 
				%li приказами и распоряжениями проректоров Университета (издаваемых в пределах их полномочий), 
				%li решениями Ученого совета факультета, 
				%li приказами и распоряжениями декана факультета (далее – Декан), 
				%li другими локальными нормативными актами, 
				%li а также рекомендациями Попечительского совета факультета и иных советов, действующих на факультете.

	.well
		%h4 2. Цель деятельности кафедры
		%p{align: 'justify'}
			Основной целью деятельности кафедры является обеспечение эффективного управления учебной и научной деятельности, реализация основных и дополнительных образовательных программ.
	.well
		%h4 3. Функции
		%p{align: 'justify'}
			Кафедра в лице её персонала осуществляет следующие виды деятельности:
			%ul
				%li
					реализация основных образовательных программ высшего профессионального образования по следующим специальностям и направлениям:
					%ul
						%li 
							140600 - Электротехника, электромеханика и электротехнология,
						%li
							140604 - Электропривод и автоматика промышленных установок и технологических комплексов;
						%li 
							130500 - Нефтегазовое дело,
						%li
							130501 - Проектирование, сооружение и эксплуатация газонефтепроводов и газонефтехранилищ,
						%li
							130502 -Разработка и эксплуатация нефтяных и газовых месторождений, 
						%li
							130504 – Бурение нефтяных и газовых скважин;
						%li
							130501.3 Энергосберегающие технологии трубопроводного транспорта газа;
						%li
							240400 – Химическая технология органических веществ и топлива,
						%li
							240401 – Химическая технология органических веществ,
						%li
							240403– Химическая технология природных энергоносителей и углеродных материалов;
						%li
							280200 – Защита окружающей среды,
						%li
							280201 – Охрана окружающей среды и рациональное использование природных ресурсов;
						%li
							240100– Химическая технология и биотехнология (бак);
						%li
							280200– Защита окружающей среды (бак);
						%li
							241000 - Энерго-и ресурсосберегающие технологии в химической технологии, нефтехимии и биотехнологии,профиль - Охрана окружающей среды и рациональное использование природных ресурсов;
						%li
							130600 – Оборудование и агрегаты нефтегазового производства;
						%li
							150200 – Машиностроительные технологии и оборудование;
						%li
							151000 – Конструкторско-технологическое обеспечение машиностроительного производства;
						%li
							200500 – Стандартизация, сертификация и метрология;
						%li
							280100 – Безопасность жизнедеятельности;
						%li
							150400 – Технологические машины и оборудование (бакалавр и магистр);
						%li
							130601 – Морские нефтегазовые сооружения,
						%li
							130602 – Машины и оборудование нефтяных и газовых промыслов,
						%li
							130603 – Оборудование нефтегазопереработки,
						%li
							151001 – Технология машиностроения,
						%li
							150202 – Оборудование и технология сварочного производства,
						%li							
							150205 – Оборудование и технология повышения износостойкости и восстановление деталей машин и аппаратов,
						%li
							200503 – Стандартизация и сертификация,
						%li
							280102 – Безопасность технологических процессов и производств;
						%li
							151000 - Технологические машины и оборудование, профили: Машины и оборудование нефтяных и газовых промыслов, Морские нефтегазовые сооружения, Оборудование нефтегазопереработки;
						%li
							221700 - Стандартизация и метрология, профиль, Стандартизация и сертификация в нефтяной и газовой промышленности";
						%li
							150700 - Машиностроение, профили: Оборудование и технология повышения износостойкости и восстановление деталей машин и аппаратов, Оборудование и технология сварочного производства.
						%li
							280700 - Техносферная безопасность. профиль "Безопасность технологических процессов и производств нефтяной и газовой промышленности; 
						%li
							151000 - Технологические машины и оборудование, профили: Машины и оборудование нефтяных и газовых промыслов, Морские нефтегазовые сооружения, Оборудование нефтегазопереработки;
						%li
							240100 - Химическая технология, профили: Химическая технология органических веществ; Химическая технология природных энергоносителей и углеродных материалов; 
						%li
							131000 - Нефтегазовое дело, профили: 
							%ul
								%li Бурение нефтяных и газовых скважин, 
								%li Эксплуатация и обслуживание объектов добычи нефти, 
								%li Эксплуатация и обслуживание объектов добычи газа, газоконденсата и подземных хранилищ, 
								%li Сооружение и ремонт объектов систем трубопроводного транспорта, 
								%li Эксплуатация и обслуживание объектов транспорта и хранения нефти, газа и продуктов переработки, программы: 
								%ul
									%li	Техническая диагностика газотранспортных систем (16); 
									%li Трубопроводный транспорт углеводородов (17);
									%li Инновационные технологии в системах газоснабжения (19); 
									%li Ресурсосберегающие технологии в нефтепродуктообеспечении (20); 
									%li Энергосберегающие технологии для газотранспортных систем (18)
				%li
					реализация программ профессиональной переподготовки и иных дополнительных образовательных программ профессионального образования по профилю образовательной деятельности кафедры;
				%li
					реализация послевузовского профессионального образования по специальностям, отвечающим профилю образовательной деятельности кафедры;
				%li
					участие в работе диссертационных советов по защите докторских и кандидатских диссертаций по этим специальностям;
				%li
					содействие проведению научных стажировок по специальностям и направлениям подго­товки в сфере высшего профессионального образования, отвечающим профилю деятельности кафедры;
				%li
					обеспечение выполнения научно-исследовательских и опытно-конструкторских работ по профилю научной деятельности кафедры;
				%li
					содействие созданию инновационных структур в рамках кафедры и участию в их работе;
				%li
					подготовка к печати и электронных версий учебно-методической литературы, подготовка к печати тематических научных сборников, научных трудов, монографий, материалов конференций и пр.
				%li
					организация и проведение научных конференций, семинаров, симпозиумов;
				%li
					проведение воспитательной, социальной и внеучебной работы;
				%li
					иная деятельность, осуществляемая в соответствии с законодательством Российской Федерации, Уставом Универ­ситета и настоящим Положением.
		%p{align: 'justify'}
			Руководство кафедры планирует учебную и научную работу, проводимую на кафедре, организует и контролирует ее выполнение в соответствии с законодательством Российской Федерации, Уставом Университета, Правилами внутреннего распорядка Университета, иными локальными актами Университета и Факультета.
		%p{align: 'justify'}
			Учебный процесс регламентируется Уставом Университета, Правилами внутреннего распорядка Университета, иными локальными актами Университета и Факультета.
		%p{align: 'justify'}
			На кафедре обеспечивается реализация различных по формам обучения (очное, очно-заочное (вечернее), заочное), срокам и ступеням подготовки (дипломированные специалисты, бакалавры, магистры), программ послевузовского профессионального образования (аспирантура, соискательство, докторантура), а также иных образовательных программ в соответствии с профилем деятельности кафедры.
		%p{align: 'justify'}
			Учебный процесс осуществляется по учебным планам, разработанным в установленном порядке на основе государственных образовательных стандартов. Учебный процесс  регламентируется Уставом Университета, локальными актами Университета и Факультета.
		%p{align: 'justify'}
			Научная деятельность на кафедре осуществляется, в том числе в форме участия в научно-исследовательских государственных, региональных и международных проектах и программах, конкурсах грантов, в форме выполнения различных видов научно-исследовательских, опытно-конструкторских, научно-организационных, прикладных работ, оказании научно-технических и научно-консультационных услуг.
		%p{align: 'justify'}
			Научно-исследовательская работа на кафедре организуется на базе научно-исследовательских центров, лабораторий и иных структурных подразделений.
	.well
		%h4 4. Руководство кафедрой
		%p{align: 'justify'}
			Общее и оперативное руководство деятельностью кафедры осуществляет заведующий.
		%h4 4.1. Заведующий кафедрой
		%h5 4.1.1. Статус, цели и задачи деятельности
		%p{align: 'justify'}
			Заведующий кафедрой является руководителем кафедры.
		%p{align: 'justify'}
			Заведующий кафедрой организует работу кафедры и непосредственно руководит её работой.
		%p{align: 'justify'}
			Должность заведующего кафедрой относится к числу профессорско-преподавательских должностей на основании Федерального закона «О высшем и послевузовском профессиональном образовании».
		%p{align: 'justify'}
			Заведующий кафедрой организует работу кафедры по выполнению задач в области учебного и научного процессов, методического и социального обеспечения, воспитательной работы студентов, а также, в пределах своей компетенции, дает указания, обязательные для выполнения всеми работниками кафедры.
		%h5 4.1.2. Квалификационные требования
		%p{align: 'justify'}
			Должность заведующего кафедрой может быть занята лицом, отвечающим требованиям, предъявляемым в соответствии с законодательством Российской Федерации к данной должности.
		%p{align: 'justify'}
			Заведующий кафедрой может исполнять свои обязанности на условиях совместительства, а также выполнять иную работу в Университете без освобождения от своей основной работы путем совмещения.
		%p{align: 'justify'}
			Должность заведующего кафедрой замещается лицом, имеющее высшее профессиональное образование, подтвержденное соответствующим документом, а также стаж работы не менее 3 лет на педагогических или руководящих должностях.
		%h4	4.2. Заместитель заведующего кафедрой
		%p{align: 'justify'}
			Для ведения текущей исполнительской деятельности на одного из сотрудников кафедры по представлению заведующего кафедрой и приказом ректора возлагаются обязанности заместителя заведующего кафедрой, выполняющего функции заведующего во время его отсутствия.
		%p{align: 'justify'}
			Полномочия, права, обязанности, ответственность, требования к квалификации  заместителя заведующего кафедрой определяются должностной инструкцией Ид 320-19
	.well
		%h4 5. Сотруники кафедры
		%p{align: 'justify'}
			На должностных лиц кафедры возлагаются следующие основные функции:
			%ul
				%li по организации учебной, научной, учебно-методической и воспитательной работы на кафедре;
				%li по организации выполнения образовательно-профессиональных программ по дисциплинам кафедры;
				%li по контролю за состоянием учебных, производственных, служебных и иных помещений, а также материальных ценностей и иного имущества, находящегося в распоряжении кафедры;
				%li по координации работы кафедры с планами работ других подразделений вуза;
				%li по обеспечению делопроизводства и документоведения по функционированию кафедры;
				%li по проведению мероприятий и принятию мер по обеспечению безопасности жизни и здоровья студентов и сотрудников кафедры.
			Полномочия, права, обязанности, ответственность, требования к квалификации сотрудников кафедры определяются их должностными инструкциями, утверждаемыми заведующим кафедрой.
	.well
		%h4 6. Ответственность (включая отчётность)
		%p{align: 'justify'}
			Кафедра, в лице её персонала, несет ответственность за содержание и качество подготовки специалистов соответствующих специальностей по всем разделам учебных планов, за выполнение научных работ, проводимых на кафедре и состояние воспитательной работы с обучающимися.
	.well
		%h4 7. Взаимоотношения
		%p{align: 'justify'}
			Кафедра, в лице его персонала, при реализации своей деятельности взаимодействует с другими подразделениями Университета по обеспечению образовательного процесса, организации научно-исследовательской и хозяйственной работы.
		%p{align: 'justify'}
			Взаимодействие с Ученым советом Университета, Научно-методическим советом Университета осуществляется по всем вопросам учебно-научной, воспитательной, кадровой работы и конкурсного замещения должностей профессорско-преподавательского состава
		%p{align: 'justify'}
			Кафедра сотрудничает с российскими и зарубежными вузами, науч­но- исследовательскими учреждениями, занимающимися учебной и научной ра­ботой, соответствующей учебной и научной деятельности кафедры.
	.well
		%h4 8. Реорганизация и ликвидация кафедры и её подразделений
		%p{align: 'justify'}
			Кафедра может быть реорганизована, переименована или ликвидирована по решению Ученого совета университета.
		%p{align: 'justify'}
			Кафедра создаётся, реорганизуется и ликвидируется (упраздняется) приказом ректора университета, издаваемого на основании решения Ученого совета университета.

	.well
		%h4 9. Порядок применения типового положения
		%p{align: 'justify'}
			Все дополнения и изменения, по сравнению с текстом утвержденного Типового положения о кафедре, вносимые в текст проекта положения о конкретной кафедре подлежат согласованию в установленном в Университете порядке.
		%p{align: 'justify'}
			При расхождении текста Типового положения о кафедре и текста надлежащим образом утвержденного Положения о кафедре – применяется текст Положения о кафедре. При несоответствии текста Положения о кафедре положениям Устава Университета или нормам действующего законодательства – применяются соответствующие положения Устава Университета или законодательства.
		%p{align: 'justify'}
			При внесении изменений в текст Типового положения о кафедре, Учёные советы факультетов обязаны в срок не более 6 месяцев принять решение о целесообразности и характере изменения соответствующего действующего Положения о кафедре.
