.page-header
	%h2 Положение "О кафедре"
	.well
		%h4 1. Общие положения
		%p{align: 'justify'}

			<b>1.1.</b> Настоящее положение определяет статус кафедры федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Российский государственный университет нефти и газа имени И. М. Губкина» (далее в тексте – Университет), её основные задачи, функции, структуру, принципы управления, порядок руководства, а также содержание и формы взаимоотношений с иными подразделениями и службами Университета.
		%p{align: 'justify'}
			<b>1.2.</b> Настоящее положение о кафедре разработано в соответствии с действующим в Российской Федерации на момент его утверждения законодательством о высшем и послевузовском профессиональном образовании и иными нормативными актами, Уставом федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Российский государственный университет нефти и газа имени И.М. Губкина» (далее в тексте – Устав Университета) (в действующей редакции), а также положениями и инструкциями СМК Университета.
		%p{align: 'justify'}
			Настоящее положение о кафедре разработано на основе Типового положение о кафедре, утвержденного ректором федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Российский государственный университет нефти и газа имени И. М. Губкина» в 2011 году».
		%p{align: 'justify'}			
			<b>1.3.</b> Наименование и место нахождения кафедры:
			%ul
				%li
					<b>Полное наименование кафедры</b>: термодинамика и тепловые двигатели
				%li 
					<b>Сокращенное наименование кафедры</b>: ТТД
				%li 
					<b>Полное наименование кафедры на английском языке</b>:thermodynamics and heat engines
				%li
					<b>Сокращенное наименование кафедры на английском языке</b>: THERHEATENG
		%p{align: 'justify'}
			<b>1.4.</b> Кафедра, в составе факультета проектирования, сооружения и эксплуатации систем трубопроводного транспорта является структурным подразделением университета.
		%p{align: 'justify'}
			Кафедра действует на основании положения, утверждаемого Ученым советом университета, и в соответствии с
			%ul
				%li	нормативными правовыми актами органов государственной ласти, 
				%li Уставом Университета, 
				%li положением о факультете, 
				%li Постановлениями Ученого совета Университета, 
				%li приказами ректора Университета (далее – Ректор), 
				%li приказами и распоряжениями проректоров Университета (издаваемых в пределах их полномочий), 
				%li решениями Ученого совета факультета, 
				%li приказами и распоряжениями декана факультета (далее – Декан), 
				%li другими локальными нормативными актами, 
				%li а также рекомендациями Попечительского совета факультета и иных советов, действующих на факультете.

	.well
		%h4 2. Цель деятельности кафедры
	.well
		%h4 3. Функции
	.well
		%h4 4. Руководство кафедрой
	.well
		%h4 5. Сотруники кафедры
	.well
		%h4 6. Ответственность (включая отчётность)
	.well
		%h4 7. Взаимоотношения
	.well
		%h4 8. Реорганизация и ликвидация кафедры и её подразделений
	.well
		%h4 9. Порядок применения типового положения
