.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/Churikova.jpg"}
			.span9
				%p
					%h4 Чурикова Мария Михайловна
					доцент, к.т.н.
					%address
						%a{href:'mailto:#'} churikova@gubkin.ru
				%p
					%strong Родилась 2 декабря 1982г. в г.Новороссийске
				%p
					%strong Образование
					%br
					Окончил с отличием Российский Государственный Университет нефти и газа имени И.М.Губкина в 2005 г. по специальности "Проектирование, сооружение и эксплуатация систем трубопроводного транспорта нефти и газа"
				%p
					%strong Звания
					%ul
						%li кандидат технических наук (2009г.)
				%p
					%strong Работа в университете
					%ul
						%li зам. декана факультета "Проектирование, сооружение и эксплуатация систем трубопроводного транспорта"
						%li куратор групп ТА-09-5, ТА-12-6
				%p
					%strong Научная работа
					%br
					Автор более 10 печатных научных работ.