.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/bw_Halyev.jpg"}
			.span9
				%p
					%h4 Халлыев Назар Халлыевич
					профессор, д.т.н.
					%address
						
				%p
					%strong Родился 27 сентября 1940г. в г. Иолотань Марыйской области Туркменской ССР.
				%p
					%strong Образование
					%br
					Окончил Московский институт нефтехимической и газовой промышленности имени И.М.Губкина в 1963 г. 
				%p
					%strong Звания
					%ul
						%li доктор технических наук (1986 г.)
				%p
					%strong Работа в университете
					%ul
						%li на педагогической работе в университете с 1996г
						%li подготовил 15 кандидатов наук
						%li был научным консультантом 5 докторских диссертаций
						%li подготовил 5 учебных пособий
				%p
					%strong Научная работа
					Автор
					%ul
						%li	8 авторских свидетельств
						%li	20 научно-технических обхзоров
						%li	5 монографий
						%li	2 патентов на изобретение
						%li	250 научных работ
					%strong Награды
					%ul
						%li Золотая, серебряная, бронзовая медали ВДНХ СССР
						%li медаль "Ветеран труда"
						%li медаль "850-летие Москвы"
						%li лауреат премии Правительства Российской Федерации в области науки и техники
						%li Ветеран труда газовой промышленности
						%li международная премия имени академика Ю.Б.Харитона
					%strong Почётные звания
					%ul
						%li Почётный работник ВНИИСТ
						%li Почётный работник газовой промышленности
						%li Почётный нефтегазостроитель
