.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/bw_Kalinin.jpg"}
			.span9
				%p
					%h4 Калинин Александр Фёдорович
					%strong заместитель заведующего кафедрой по научной работе
					%br
					профессор, д.т.н.
					%address
						%a{href:'mailto:#'} kalinin@gubkin.ru
				%p
					%strong Родился 1 июня 1954г. в г. Одесса.
				%p
					%strong Образование
					%br
					Окончил Московский институт нефтехимической и газовой промышленности имени И.М.Губкина в 1976 г. по специальности "Процессы и аппараты химических производств".
				%p
					%strong Звания
					%ul
						%li доктор технических наук (2005 г.)
						%li доцент (1987 г.)
						%li профессор
				%p
					%strong Работа в университете
					%ul
						%li На педагогической работе в университете с 1978 г.
						%li Заведующий филиалом кафедры в ООО "Мострансгаз" с 2005 г.
				%p
					%strong Научная работа
					Автор более 100 печатных научных работ и методических пособий, посвящённых исследованию
					%ul
						%li процессов регазификации сжиженного природного газа
						%li теплофизики свойств горных пород
						%li тепло- и массообменных процессов
						%li решению энерготехнологических задач трубопроводного транспорта природного газа
						%li прикладным вопросам термодинамики и теплопередачи