.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/kuptsov.jpg"}
			.span9
				%p
					%h4 Купцов Сергей Михайлович
					%br
					профессор, д.т.н.
					%address
						%a{href:'mailto:#'} kuptsov@gubkin.ru
				%p
					%strong Родился 18 сентября 1951г. в г. Москве
				%p
					%strong Образование
					%br
					Окончил Московский институт нефтехимической и газовой промышленности имени И.М.Губкина в 1973 г. по специальности "Машины и оборудование нефтяных и газовых промыслов"
				%p
					%strong Звания
					%ul
						%li доктор технических наук (2011 г.)
						%li профессор (2012 г.)
				%p
					%strong Работа в университете
					%ul
						%li на педагогической работе в университете с 1976г
						%li ответственный за работу по внедрению новых технологий в учебном процессе
						%li ответственный за работу СНО и проведение олимпиад
				%p
					%strong Научная работа
					%br
					Автор более 80 печатных научных работ и методических пособий, посвященных исследованию
					%ul
						%li	теплофизических свойств веществ
						%li	прикладных вопросов термодинамики и теплопередачи в энергетике транспорта газа