.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/vasilev.jpg"}
			.span9
				%p
					%h4 Лопатин Алексей Сергеевич
					%strong Заведующий кафедрой
					%br
					профессор, д.т.н.
					%address
						%a{href:'mailto:#'} lopatin@gubkin.ru
				%p
					%strong Родился 20 июля 1956г. в г. Москве.
				%p
					%strong Образование
					%br
					Окончил с отличием Московский институт нефтехимической и газовой промышленности имени И.М.Губкина в 1979 году по специальности «Прикладная математика».
				%p
					%strong 
						Звания
						%ul
							%li Доктор технических наук (1998г.)
							%li
								Действительный член
								%ul
									%li Международной Академии информатизации (1997г.),
									%li Академии технологических наук РФ (2007г.),
									%li Российской академии естественных наук (2012г.)
				%p
					%strong 
						Работа в университете
						%ul
							%li Член бюро Президиума АТН РФ;
							%li член президиума отделения «Диагностика, экология и информационное обеспечение» МАИ;
							%li член НТС ОАО «Газпром» и ДОАО «Оргэнергогаз»;
							%li член НТС ОАО «Газпром» и ДОАО «Оргэнергогаз»;
							%li член оргкомитетов ряда международных и российских конференций.
				%p
					%strong 
						Научная работа
						%ul
							%li Автор более 250 научных и учебно-методических работ по вопросам термодинамики природных газов, диагностики нефтегазотранспортных систем, энергосберегающей технологии транспорта газа.	
				%p
					%strong 
						Награды
						%ul
							%li Наргаждён бронзовой медалью ВДНХ СССР.
							%li Наргаждён почетным знаком «Лауреат Всесоюзного смотра НТТМ».
							%li Лауреат премии имени академика И.М. Губкина.
							%li Лауреат международного конкурса «Элита информациологов мира».
				%p
					%strong 
						Почётные звания
						%ul
							%li Почетный работник газовой промышленности и высшего gрофессионального образования.
							%li Почетный нефтегазостроитель. 					