.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/mikael.jpg"}
			.span9
				%p
					%h4 Микаэлян Эдуард Амаякович
					доцент, к.т.н.
					%address
						%a{href:'mailto:#'} gazovik@gmail.com
				%p
					%strong Родился 9 июня 1937г. в г. Баку
				%p
					%strong Образование
					%br
					Окончил Азербайджанский институт нефти и газа имени М.Азибекова в 1959г. по специальности "Машины и оборудование нефтяных и газовых промыслов"
				%p
					%strong Звания
					%ul
						%li кандидат технических наук (1968г.)
						%li доцент (1972г.)
				%p
					%strong Работа в университете
					%ul
						%li на педагогической работе в университете с 1966г
						%li в 1976-1981 и 1984-1986 г.г. работал доцентом
						%li в 1986-1987 г.г. руководил кафедрой в Алжирском национальном институте нефти, газа и химии 
						%li ответственный за работу со студентами специализации
						%li ответственный по повышению квалификации специалистов отрасли
				%p
					%strong Научная работа
					%br
					Автор свыше 200 научных работ (в том числе 3 авторских монографий и 12 учебно-методических пособий), посвящённых проблемам эксплуатации и обслуживания энерго-технологического оборудования на компрессорных станциях, промысловой системы сбора газа и магистральных газопроводов, опубликованных, в том числе, в 17 зарубежных изданиях.
				%p
					%strong Награды и почётные звания
					%ul
						%li лауреат конкурса Международной Соросовской Программы Образования в Области Точных наук (ISSEP) 2000г. с присвоением звания "Soros Associate Professor"
						%li эксперт II квалификации СЭПБ Гостехнадзора России