.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/mingaleeva.jpg"}
			.span9
				%p
					%h4 Мингалеева Рената Дмитриевна
					%strong Ассистент
					%br
					%address
						%a{href:'mailto:#'} renata.mingaleeva@yandex.ru
				%p
					%strong Родилась 15 октября 1990г. в Тульской области .
				%p
					%strong Образование
					%br
					Окончила с отличием магистратуру в Российском Государственном Университете нефти и газа имени И.М. Губкина в 2014г. по направлению «Энергосберегающие технологии для газотранспортных систем» по совместной программе с Королевским Технологическим Институтом (Стокгольм, Швеция).
				%p
					%strong Работа в университете
					%ul
						%li На педагогической работе в Университете с 2014 г.
						%li Куратор группы ТА-14-07.
				%p
					%strong Научная работа
					%ul
						%li Соавтор статей по вопросам использования возобновляемых источников энергии в РФ в журнале «Территория «НЕФТЕГАЗ».
