.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/nazar.jpg"}
			.span9
				%p
					%h4 Назарьина Александра Михайловна
					доцент, к.т.н.
					%address
						%a{href:'mailto:#'} nazarina@gubkin.ru
				%p
					%strong Родилась 12 декабря 1942г. в г. Москве
				%p
					%strong Образование
					%br
					Окончила Московский институт нефтехимической и газовой промышленности имени И.М.Губкина в 1970 г. по специальности "Инженер-экономист"
				%p
					%strong Звания
					%ul
						%li кандидат технических наук (1986 г.)
				%p
					%strong Работа в университете
					%ul
						%li на педагогической работе в университете с 1978г.
				%p
					%strong Научная работа
					%br
					Автор более 15 печатных научных работ (в том числе 1 монографии и 4 учебно-методических пособий), посвящённых технико-экономическому сопоставлению различных видов энергопривода компрессорных станций, прикладным вопросам термодинамики и теплопередачи