.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/bw_Shotidi.jpg"}
			.span9
				%p
					%h4 Шотиди Константин Харлампиевич
					%strong заместитель заведующего кафедрой
					%br
					профессор, к.т.н.
					%address
						%a{href:'mailto:#'} chokonst@gubkin.ru
				%p
					%strong Родился 23 октября 1942г. в г. Батуми.
				%p
					%strong Образование
					%br
					Окончил Московский институт нефтехимической и газовой промышленности имени И.М.Губкина в 1966 г. по специальности "Машины и оборудование нефтяных и газовых промыслов".
				%p
					%strong Звания
					%ul
						%li Кандидат технических наук (1972 г.)
						%li доцент (1979 г.)
						%li профессор (2003 г.)
				%p
					%strong Работа в университете
					%ul
						%li На работе в университете с 1969 г.
						%li С 1980 г. и по 1984 г. заведовал секцией теплотехники в Алжирском национальном институте нефти, газа и химии
						%li Заместитель заведующего кафедрой (с 1985 г.)
						%li Один из разработчиков учебных планов специальности, автор типовых рабочих программ по термодинамике и теплопередаче
				%p
					%strong Научная работа
					%ul
						%li Автор более 80 печатных работ (в том числе 17 методических пособий, 2 авторских свидетельства), посвященных тепловым методам воздействия на нефтяной пласт, исследованию теплофизических свойств горных пород, прикладным вопросам термодинамики и теплопередачи.	
				%p
					%strong Награды
					%ul
						%li Медаль "В память 850-летия Москвы"
				%p
					%strong Почётные звания
					%ul
						%li Почетный нефтяник
						%li Почетный работник высшего образования	