.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/shpotakovsky.jpg"}
			.span9
				%p
					%h4 Шпотаковский Михаил Михайлович
					доцент, к.т.н.
					%address
						
				%p
					%strong Родился 4 августа 1950г. в г.Симферополе
				%p
					%strong Образование
					%br
					Окончил с отличием Московский институт нефтехимической и газовой промышленности имени И.М.Губкина в 1972г. по специальности "Проектирование и эксплуатация газонефтепроводов, газохранилищ и нефтебаз"
				%p
					%strong Звания
					%ul
						%li кандидат технических наук (1978г.)
						%li старший научный сотрудник (1989г.)
						%li доцент (1991г.)
				%p
					%strong Работа в университете
					%ul
						%li на педагогической работе в университете с 1974г
						%li член профсоюзного комитета университета
						%li председатель профсоюзного бюро факультета ПСиЭСТТ
						%li профгруппорг кафедры
						%li ответственный за проведение производственных практик студентов кафедры
				%p
					%strong Научная работа
					%br
					Автор более 70 печатных научных работ, посвящённых вопросам энергосбережения в трубопроводном транспорте природного газа и, в частности, тепловых режимов магистральных газопроводов, а также прикладных вопросов термодинамики и теплопередачи.