.row-fluid
	.well
		.row-fluid
			.span3
				%img{src: "img/vasilev.jpg"}
			.span9
				%p
					%h4 Васильев Алексей Владимирович
					%strong Ассистент
					%br
					%address
						%a{href:'mailto:#'} vasylev@gubkin.ru
				%p
					%strong Родился 01 марта 1987г. в г. Комсомольск-на-Амуре.
				%p
					%strong Образование
					%br
					Окончил факультет Вычислительной математики и кибернетики Московского государственного университета имени М.В. Ломоносова в 2009 году по специальности «Прикладная математика и информатика».
				%p
					%strong 
						Работа в университете
						%ul
							%li На педагогической работе в Университете с 2011 г.
							%li В 2010-2011 г. - заместитель начальника отдела АСУ Университета.
				%p
					%strong 
						Научная работа
						%ul
							%li Автор более 10 публикаций по вопросам математического и расчётного обеспечения моделирования систем газоснабжения.
							%li Область научных интересов: параллельная и распределённая обработка данных, технологии разработки высоконагруженных вычислительных систем.
				%p
					%strong 
						Увлечения
						%ul
							%li Пляжный волейбол
							%li Горные лыжи